.background {
	transition: background 1000ms ease-in 1000ms;
	background-attachment: fixed;
	background-size: cover;
}

.title {
	background-color: #3498db;
	width : 100%;
	margin: 0px 0px 0px;
	line-height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: titleFade;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	animation-duration: 0.5s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

@keyframes titleFade {
	0% {opacity:0; line-height:0px}
	100% {opacity:1; line-height:60px}
}

.titleText {
	font-family: 'Francois One', sans-serif;
	font-size: 2em;
	margin-top: 8px;
	margin-left: 30px;
	opacity: 0;
	color: rgba(255,255,255,1.0);
	text-align: left;
	vertical-align: middle;
	animation-name: titleElementFade;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);;
	animation-delay: 0.5s;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	cursor: default;
}

.reviewBtn {
	width: 90px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	margin-top: 12px;
	margin-left: 10px;
	margin-right: -20px;
	opacity: 0;
	background-color: rgba(0,0,0,0.0);
	color: white;
	text-align: middle;
	vertical-align: middle;
	animation-name: titleElementFade;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);;
	animation-delay: 0.5s;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	cursor: default;
	border-radius: 8px;
	border: 2px solid rgba(255,255,255,0.5);
	transition-duration: 0.3s;
}

.reviewBtn:hover {
	background-color: rgba(255,255,255,0.5);
}

.reviewPanel {
	border-color: white;
	border-radius: 10px;
	margin: auto;
	background-color: white;
	display:flex;
	align-items:center;
	justify-content:center;
	padding: 30px 30px 30px 30px;
	filter: drop-shadow(5px 5px 10px rgba(255,255,255,0.5));
}

.reviewPanelText {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: black;
	margin: auto;
	text-align: middle;
	vertical-align: middle;
	line-height: 50px;
}

.line-separator{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height:1px;
	background:#717171;
	vertical-align: middle;
}

.priceText {
	width: auto;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2em;
	margin-top: 8px;
	margin-left: 10px;
	padding-right: 10px;
	opacity: 0;
	color: white;
	text-align: right;
	vertical-align: middle;
	animation-name: titleElementFade;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);;
	animation-delay: 0.5s;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	cursor: default;
}

@keyframes titleElementFade {
	0% {opacity:0;}
	100% {opacity:1;}
}

.loadingTextLoop {
	width: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-top: 200px;
	opacity: 1;
	animation-name: loadingTextLoopAnim;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	animation-duration: 3s;
}

@keyframes loadingTextLoopAnim {
	0% {opacity: 0;}
	40% {opacity: 1;}
	60% {opacity: 1;}
	100% {opacity: 0;}
}

.titleBottomPadding {
	height: 100px;
	padding: 0px;
	margin: 0px;
	animation-name: titleBottomPaddingAnim;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	animation-duration: 0.4s;
}

@keyframes titleBottomPaddingAnim {
	0% {height: 1000px;}
	100% {height: 70px;}
}

.newsPanel {
	height: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	filter: brightness(90%);
	
	display:flex;
	align-items:center;
	justify-content:center;
	
	animation-name: newsPanelAnim;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	animation-duration: 0.4s;
	animation-delay: 0.8s;
	animation-fill-mode: forwards;
}

@keyframes newsPanelAnim {
	0% {height: 0px;}
	100% {height: 50px;}
}

.newsPanelText {
	height: 0%;
	width: 100%;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	opacity: 0.0;
	align: center;
	vertical-align: middle;
	filter: brightness(120%);
	
	animation-name: newsPanelTextAnim;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	animation-duration: 0.4s;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
}

@keyframes newsPanelTextAnim {
	0% {height: 0%; opacity: 0.0;}
	100% {height: 100%; opacity: 1.0;}
}

.cardPanel {
	width: 630px;
	margin: 20px auto;
	border: solid;
	background-color: #ecf0f1;
	border-width: 1px;
	opacity: 1;
	border-color: rgba(255,255,255,0.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 1s;
}

.cardTextLeft {
	width: 150px;
	font-family: 'Francois One', sans-serif;
	font-size: 1.5em;
	text-align: right;
	vertical-align: middle;
	color: black;
	margin: 20px;
	cursor: default;
}

.cardComboBox {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	width: 400px;
	padding-left: 10px;
	text-align: left;
	vertical-align: middle;
	color: black;
	margin-top: 15px;
	padding-top: 9px;
	padding-bottom: 6px;
	filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.3));
}

.cardLogoImagePanel{
	height: 35px;
	width: 35px;
	margin-top: 16px;
	margin-left: 10px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.cardLogoImage {
	width: 35px;
	cursor: default;
	filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.3));
}

.cardTextRight {
	font-family: 'Francois One', sans-serif;
	font-size: 1.5em;
	width: 30px;
	text-align: left;
	vertical-align: middle;
	color: black;
	margin: 20px;
	margin-left: 10px;
	cursor: default;
}

.cardTextInfoPanel {
	height: 0px;
	transition:all 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.cardTextInfo {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	margin-left: 200px;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 5px;
	color: black;
	cursor: default;
}

.endPanel {
	background-color: #3498db;
	width : 100%;
	height: 60px;
	margin-top: 60px;
	padding: 10px 10px 10px 10px;
    box-shadow: 0px -8px 6px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
}

.gitHubIcon {
	height: 40px;
	width: 40px;
	opacity: 1;
	cursor: pointer;
	filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.5));
}

.endPanelText {
	font-family: 'Francois One', sans-serif;
	font-size: 1em;
	margin-top: 5px;
	color: white;
	text-align: left;
}