/** Add css rules here for your application. */
			
/** Example rules used by the template application (remove for your app) */
h1 {
	font-family: "Georgia", serif;	
	font-size: 2em;
	font-weight: bold;
	color: white;
	height: 100px;
	margin: 0px 0px 70px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	background-color : rgba(255,255,255,0.2);
}